# IS 362 - Project 3

### Your assignment involves combining information from a number of SQL tables, then displaying the information in a pandas DataFrame.

### For your relational database management system, you may use any RDBMS, including MySQL, PostgreSQL, sqlite, or any of the other RDMBSs supported by the database in Step 1 below.

### 1. For your database, you should download and install the appropriate version of the Chinook database for your RDBMS

In [1]:
# Import libraries 
import pymysql
import pandas as pan

# Connect to the Chinook database
conn=pymysql.connect(host='localhost', port=int(3306),user='root',passwd='nRM8Qfa$PQJB', db='Chinook')

### 2. Your task is to create a pandas DataFrame that displays Customers’ Last Name and First Name, and each customer’s purchased Track names and Album Titles. The information should be sorted by Customer LastName then Customer FirstName.

In [2]:
# Read SQL query results into pandas

songs = pan.read_sql_query("SELECT \
                            customer.LastName AS 'LastName',\
                            customer.FirstName AS 'FirstName', \
                            track.Name AS 'Name', \
                            album.Title AS 'Title' \
                            FROM customer \
                            JOIN invoice \
                                ON customer.CustomerId = invoice.CustomerId \
                            JOIN invoiceline \
                                ON invoice.InvoiceId = invoiceline.InvoiceId \
                            JOIN track \
                                ON invoiceline.TrackId = track.TrackId \
                            JOIN Album \
                                ON track.AlbumId = Album.AlbumId \
                            ORDER BY customer.LastName, customer.FirstName", conn)

In [3]:
# Display the information in the dataframe
songs.head(10)

,LastName,FirstName,Name,Title
0,Almeida,Roberto,Right Next Door to Hell,Use Your Illusion I
1,Almeida,Roberto,In The Evening,In Through The Out Door
2,Almeida,Roberto,Fool In The Rain,In Through The Out Door
3,Almeida,Roberto,Saudade Dos Aviões Da Panair (Conversando No Bar),Minas
4,Almeida,Roberto,Caso Você Queira Saber,Minas
5,Almeida,Roberto,Dance,Ace Of Spades
6,Almeida,Roberto,Aos Leões,Demorou...
7,Almeida,Roberto,Demorou!,Demorou...
8,Almeida,Roberto,Home Sweet Home,Motley Crue Greatest Hits
9,Almeida,Roberto,Intro,From The Muddy Banks Of The Wishkah [Live]